html {
    text-align: center;
}

.thirdPageTitle {
    font-size: 8rem;
    color: #fff7f7;
    margin: 0;
}

.thirdPageExplanation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdPageText {
    color: #fff7f7;
    font-size: 2.25rem;
}

img {
    align-items: center;
    width: 20%;
    height: 20%;
}
.planetImage3 {
    position: absolute;
    width: 12%;
    height: 20%;
    left: 85%;
}