@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jacquarda+Bastarda+9&family=Kaushan+Script&display=swap');

.secondPageContainer {
    display: flex;
    gap: 3rem;
}

.dialogo {
    color: #FFF7F7;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.dialog {
    color: #FFF7F7;
    font-size: 2.188rem;
    padding: 0 23rem 0 23rem;
}